<h1>Posting Stats</h1>
<table>
  <tr>
    <th>Posting id</th>
    <th>Created</th>
    <th>Time to locate</th>
    <th>Located</th>
    <th>Time to anchor</th>
    <th>Anchored</th>
    <th>Time to poll</th>
    <th>Polled</th>
  </tr>
  <%= render partial: 'posting_stat', collection: @posting_stats %>
</table>