.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: brown;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text,
.empty_zips text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

#hour-slider {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}

.slider {
  margin: 0 20px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* half width of the spinner gif */
  margin-top: -50px; /* half height of the spinner gif */
  text-align:center;
  z-index:1234;
  overflow: auto;
  width: 100px; /* width of the spinner gif */
  height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}